django>=2.0.11
django-bootstrap3
ansible>=2.4.5
paramiko
celery==3.1.25
celery-with-redis==3.0
django-celery==3.2.1
django-kombu==0.9.4
djangorestframework
django-guardian
pymysql
xlwt
uwsgi
cryptography
pyecharts
tornado==4.5.2
