Django==5.2.16
django-bootstrap3
django-crispy-forms
django-reversion
djangorestframework
django-guardian
ansible>=2.4.5
paramiko
celery==5.5.3
django-celery-beat==2.8.1
django-celery-results==2.6.0
redis==5.2.1
pymysql
xlwt
uwsgi
cryptography
pyecharts
kubernetes>=29.0.0
docker>=6.1.3
tornado==6.5.8
