{% extends "base.html" %}
{% block  title %}资产添加{% endblock %}
{% block header-css %}
{% load	bootstrap3 %}
{% endblock %}


{% block page-content %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>代码库添加</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/index.html">主页</a>
                </li>
                <li>
                     <a href="{% url  'release:release_list'  %}">代码库管理</a>
                </li>
                <li class="active">
                    <strong>代码库添加</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>代码库添加</h3>
                    <div style="color:red;">  {{ msg }}</div>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项 1</a>
                            </li>
                            <li><a href="#">选项 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" action="" method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if form.no_field_errors %}
                            <div class="alert alert-danger" style="margin: 20px auto 0px">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-0">
                                <h3>基本</h3>
                                {% bootstrap_field form.name layout="horizontal" %}
                                 {% bootstrap_field form.file   layout="horizontal"  %}
                             {% bootstrap_field form.ps layout="horizontal" %}
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>


                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">

                                 {% bootstrap_button "保存" button_type="submit" button_class="btn-primary" %}
                                 {% bootstrap_button "重置" button_type="reset" button_class="btn btn-white" %}
                            </div>
                        </div>

                    </form>


                </div>
            </div>
        </div>

    </div>


    {% block footer-js %}



        <script>
            $(document).ready(function () {
                $('.select2').select2();
                {#            $("#id_tags").select2({#}
                {#                tags: true,#}
                {#                maximumSelectionLength: 8  //最多能够选择的个数#}
                {#                //closeOnSelect: false#}
                {#            });#}
            })
        </script>


    {% endblock %}



{% endblock %}


