{% extends "base.html" %}

{% block header-css %}


{% endblock %}


{% block page-content %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>资产添加</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/index.html">主页</a>
                </li>
                <li>
                    <a>资产管理</a>
                </li>
                <li class="active">
                    <strong>资产添加</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加</h5>  {{ msg }}
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项 1</a>
                            </li>
                            <li><a href="#">选项 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal"     action="{% url "asset:asset_add" %}"   method="post">
                        {% csrf_token %}
                        <div class="form-group"><label class="col-sm-2 control-label">外网IP</label>
                            <div class="col-lg-4 col-sm-10">
                                <input type="text" class="form-control" name="network_ip" required=""></div>

                            <label class="col-sm-1 control-label">管理IP</label>
                            <div class="col-lg-4 col-sm-10">
                                <input type="text" class="form-control" name="manage_ip">

                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group"><label class="col-sm-2 control-label">型号</label>
                            <div class="col-lg-4 col-sm-10">
                                <input type="text" class="form-control" name="model"></div>

                            <label class="col-sm-1 control-label">数据中心</label>
                              <div class="col-lg-4 col-sm-10">
                                <select class="select2_demo_1 form-control"  value="product_line">

                                    {% for  row in data_center_list %}
                                        <option value="{{ row.id }}" id="ues1">{{ row.data_center_list }}</option>
                                    {% endfor %}

                                </select>

                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group"><label class="col-sm-2 control-label">机柜</label>
                            <div class="col-lg-4 col-sm-10">
                                <input type="text" class="form-control" name="cabinet"></div>

                            <label class="col-sm-1 control-label">位置</label>
                            <div class="col-lg-4 col-sm-10">
                                <input type="text" class="form-control" name="position">

                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group"><label class="col-sm-2 control-label">SN</label>
                            <div class="col-lg-4 col-sm-10">
                                <input type="text" class="form-control" name="sn"></div>

                            <label class="col-sm-1 control-label">CPU</label>
                            <div class="col-lg-4 col-sm-10">
                                <input type="text" class="form-control" name="cpu">

                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>


                        <div class="form-group"><label class="col-sm-2 control-label">内存</label>
                            <div class="col-lg-4 col-sm-10">
                                <input type="text" class="form-control" name="memory"></div>

                            <label class="col-sm-1 control-label">硬盘</label>
                            <div class="col-lg-4 col-sm-10">
                                <input type="text" class="form-control" name="disk">

                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>


                        <div class="form-group"><label class="col-sm-2 control-label">上联端口</label>
                            <div class="col-lg-4 col-sm-10">
                                <input type="text" class="form-control" name="port"></div>

                            <label class="col-sm-1 control-label">是否在用</label>
                            <div class="col-lg-4 col-sm-10">
                                <select class="select2_demo_1 form-control" name="use" >
                                    <option value="1" id="ues1" > 启用</option>
                                    <option value="0" id="user2">没用</option>

                                </select>

                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>


                        <div class="form-group"><label class="col-sm-2 control-label">出厂时间</label>
                            <div class="col-lg-4 col-sm-10">
                                <input type="text" class="form-control" name="ship_time"></div>

                            <label class="col-sm-1 control-label">到保时间</label>
                            <div class="col-lg-4 col-sm-10">
                                <input type="text" class="form-control" name="end_time">

                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>


                        <div class="form-group">


                            <label class="col-sm-2 control-label">产品线</label>
                            <div class="col-lg-4 col-sm-10">
                                <select class="select2_demo_1 form-control"  value="product_line">

                                    {% for  row in product_line_list %}
                                        <option value="{{ row.id }}" id="ues1">{{ row.product_line_list }}</option>
                                    {% endfor %}

                                </select>

                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">备注</label>
                            <div class="col-lg-9 col-sm-10">
                                <input type="text" class="form-control" name="ps"></div>
                        </div>

                        <div class="hr-line-dashed"></div>


                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">

                                <button class="btn btn-primary" type="submit">保存</button>
                                <button class="btn btn-white" type="button">取消</button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>

    </div>


    {% block footer-js %}



    {% endblock %}



{% endblock %}


