{% extends "base.html" %}
{% block  title %}资产批量更新{% endblock %}
{% block header-css %}

{% load	bootstrap3 %}
{% endblock %}


{% block page-content %}

<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>资产添加</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/index.html">主页</a>
                </li>
                <li>
                    <a href="asset.html">资产管理</a>
                </li>
                <li class="active">
                    <strong>资产添加</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>







{% block footer-js %}


{% endblock %}



{% endblock %}


