{% extends "base.html" %}
{% load bootstrap3 %}
{% block  title %}AutOps | 首页{% endblock %}

{% block header-css %}
{% endblock %}

{% block page-content %}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">

                            <li class="active">
                                <a href="" class="text-center">密码 </a>
                            </li>

                        </ul>
                    </div>
                    <div class="tab-content" style="background-color: #ffffff">
                        <div class="wrapper wrapper-content animated fadeInRight">
                            <form method="post" class="form-horizontal" action="" enctype="multipart/form-data">
                                {% csrf_token %}

                                {% if form.no_field_errors %}
                                    <div class="alert alert-danger" style="margin: 20px auto 0px">
                                        {{ form.non_field_errors }}
                                    </div>
                                {% endif %}
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-0"> {{ msg }}
                                        {% bootstrap_field form.old_password layout="horizontal" %}
                                        {% bootstrap_field form.new_password layout="horizontal" %}
                                        {% bootstrap_field form.confirm_password layout="horizontal" %}</div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-3">

                                        <button id="submit_button" class="btn btn-primary" type="submit">提交</button>
                                        <button class="btn btn-white" type="reset">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}









{% block footer-js %}
{% endblock %}