{% load  mytags %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block  title %}{% endblock %}</title>

    {% include  "_css.html" %}
    {% block header-css %}
    {% endblock %}
</head>

<body>

<div id="wrapper"   class="container1">

    {% include "_nav.html" %}

    <div id="page-wrapper" class="gray-bg">
        {% include  "_navbar-static-top.html" %}

        {% block page-content %}


        {% endblock %}
        {% include  "_footer.html" %}

    </div>
</div>




<div class="container1">
    <div id="terminal"> </div>
</div>


{% include  "_js.html" %}
{% block footer-js %}
{% endblock %}





</body>

</html>
